/* Colores */ 

$clr-amarillo: #E3B23C;
$clr-marron: #423E37;
$clr-naranja: #F4442E;
$clr-gris: #6E675F;
$clr-negro: black;
$clr-claro: #EDEBD7;
$clr-card: #7D7E75;


/* Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Oxygen:wght@400;700&display=swap');


$ff-crimson:"Crimson Pro", serif;
$ff-oxygen: "Oxygen",  sans-serif; //lucida

/* Border */ 

$borderRadius: 0.5rem; 


